* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.intro-back {
  width: 100%;
  background-color: black;
  height: 100vh; /* Replace $intro-box-height with its value */
  position: relative;
  overflow: hidden;
}

.main_text {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: rgb(218, 165, 32);
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 7rem;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: .1rem .2rem .2rem rgba(255, 215, 0, 1), .3vh .4vh .8rem rgba(255, 255, 255, 1);
}


.moving-screen {
  top: -50%;
  position: absolute;
  width: 200%;
  left: -50%;
  height: 200vh; /* Replace $intro-box-height*2 with its value */
  background-image: radial-gradient(circle at center, transparent 1%, rgba(0, 0, 0, 1) 20%);
  z-index: 5;
  animation: move-right 6s ease-out;
}

@keyframes move-right {
  0% {
    background-image: radial-gradient(circle at center, transparent 1%, rgba(0, 0, 0, 1) 15%);
    top: calc(-50% + 5rem);
    left: -70%;
  }
  75% {
    background-image: radial-gradient(circle at center, transparent 1%, rgba(0, 0, 0, 1) 15%);
    top: calc(-50% - 4rem);
    left: -35%;
  }
  100% {
    top: -50%;
    left: -50%;
  }
}

@media only screen and (max-width: 720px) {
  .main_text {
    font-size: calc(2rem + 1vh);
    font-weight: 300;
    text-shadow: .1rem .1rem .2rem rgba(255, 215, 0, .9), .2vh .3vh .6rem rgba(255, 255, 255, 1);
  }
}
